/*trying to get the sections side-by-side*/

/*section {
    display: inline-block
}*/

/*section img {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}*/

/*same problem in both FigmaMedi projects. How to get the sections sid-by-side? When typing, display: flex, 
the text section goes bananas..but inline-block doesn't work either*/

header {
    height: 100vh;
    width: 100%;
}

.logo {
    color: #0A1B32;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: -0.6px;
    margin-top: 37px;
    margin-left: 80px;
}

.logo-dot {
    color: #824FF1;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: -0.6px;
}

.nav-list {
    color: #1B0A42;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

#sign-in {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
}

.nav-button{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.32px;
    border-radius: 6px;
    background: #824FF1;
    width: 120px;
    height: 60px;
    border: none;
    margin-top: 30px;
    margin-right: 68px;
    margin-left: 40px;
    margin-bottom: 48px;
}

.main-title {
    color: #1B0A42;
    font-family: 'Ramaraja', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 1.44px;
    margin-top: 203px;
    margin-right: 90px;
    margin-left: 200px;
    max-width: 495px;
    width: 100%;
}

.main-text {
    color: #9A9A9A;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.4px;
    margin-top: 10px;
    margin-left: 200px;
    max-width: 590px;
    width: 100%;
}

.main-button {    
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.32px;
    border-radius: 6px;
    background: #824FF1;
    width: 152px;
    height: 64px;
    border: none;
    padding: none;
    margin-top: 50px;
    margin-left: 200px;
}

#yogapurple {
    width: 658px;
    height: 700px;
    padding: none;
    margin: none;
    margin-top: 136px;
    margin-right: 92px;
    margin-bottom: 82px;
    margin-left: 66px;
}

#wavespurple {
    width: 821px;
    height: 509px;
    padding: none;
    margin: none;
    margin-top: 136px;
    margin-right: 92px;
    margin-bottom: 82px;
    margin-left: 66px;
}